name: Run Model Training Automatically

on:
  push:
    paths:
      - "MLProject/modelling.py"
      - "MLProject/namadataset_preprocessing/df_cleaned.csv"
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy joblib matplotlib

      # 4️⃣ Run MLproject entry point
      - name: Run MLProject Training
        run: |
          mlflow run MLProject -e main

      # 5️⃣ Upload MLflow artefacts
      - name: Upload MLflow Artefacts
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: MLProject/mlruns
